@value tokens: "../../style/tokens.module.css";
@value primaryColor, backgroundColor from tokens;

.content {
    composes: view from "../../style/layout.module.css";
    composes: spaceBetween from "../../style/layout.module.css";
}

.back {
    composes: backButton from "../../style/buttons.module.css";
}

.button_container {
    display: flex;
    justify-content: center;
}

.confirm {
    composes: buttonBlack from "../../style/buttons.module.css";
}

.title {
    composes: title from "../../style/typo.module.css";
    text-align: center;
    margin-bottom: 1rem;
}  

.title_span {
    composes: titleSpan from "../../style/typo.module.css";
}

.subtitle {
    composes: subtitle from "../../style/typo.module.css";
    text-align: center;
}   

.content_persons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.content_person {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.person_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

/* Gender */

.person_gender {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

.gender_video {
    width: 100%;
    height: auto;
}

.video_mirror {
    transform: scaleX(-1);
}

.checkbox_male, .checkbox_female {
    display: none;
}

.gender_male, .gender_female {
    cursor: pointer;
}

.checkbox_male[type='radio']:checked+.gender_male .male_icon {
    fill: white;
}

.checkbox_male[type='radio']:checked+.gender_male .male_circle {
    stroke: #006A5E; 
    fill: #006A5E;
}

.checkbox_female[type='radio']:checked+.gender_female .female_icon {
    fill: white;
}

.checkbox_female[type='radio']:checked+.gender_female .female_circle {
    stroke: primaryColor; 
    fill: primaryColor;
}

.male_circle{
    stroke: #006A5E; 
} 

.male_icon {
    fill: #006A5E;
}

.female_circle{
    fill: transparent; 
    stroke: primaryColor;
} 

.female_icon {
    fill: primaryColor;
}

/* Name input */

.person_name {
    width: 80%;
    padding: 0 5rem;
}

.name_text {
    composes: subtitle from "../../style/typo.module.css";
    padding: 0 0 .5rem .5rem;
}

.name_input {
    composes: inputFill from "../../style/buttons.module.css";
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .content_persons {
        grid-column-gap: 4rem;
      }

    .person_container {
        flex-direction: column-reverse;
    }

    .container_female {
        flex-direction: column;
    }

    .person_gender {
        flex-direction: row;
        margin-bottom: 1rem;
    }

    .person_gender label {
        padding: 0 .5rem;
    }

    .person_name {
        width: 100%;
        padding: 0;
    }
    
  }

@media screen and (max-width: 500px) {

    .content_header {
        margin: 1rem 0 4rem 0;
    }

    .subtitle {
        margin-top: 1.5rem;
    }   

    .content_persons {
      display: flex;
      flex-direction: column;
    }

    .content_person {
        margin-bottom: 2rem;
    }

    .person_name {
        padding: 0;
    }
}