@value tokens: "../../style/tokens.module.css";
@value primaryColor, backgroundColor from tokens;

.background {
    background-image: url(/assets/backgrounds/step1_right.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
}

.content {
    composes: view from "../../style/layout.module.css";
    composes: spaceBetween from "../../style/layout.module.css";
}

.back {
    composes: backButton from "../../style/buttons.module.css";
}

.confirm {
    composes: buttonBlack from "../../style/buttons.module.css";
}

.title {
    composes: title from "../../style/typo.module.css";
    text-align: center;
    margin-bottom: 1rem;
}   

.subtitle {
    composes: subtitle from "../../style/typo.module.css";
    text-align: center;
}   

.content_persons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.content_person {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name_text {
    composes: subtitle from "../../style/typo.module.css";
    padding-bottom: .5rem;
}

.name_input {
    composes: inputFill from "../../style/buttons.module.css";
}