.back {
    composes: backButton from "../../style/buttons.module.css";
}

@media screen and (max-width: 1250px) {

    .container_back {
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
  }