@value tokens: "../../style/tokens.module.css";
@value primaryColor from tokens;

.content {
    composes: view from "../../style/layout.module.css";
    composes: spaceBetween from "../../style/layout.module.css";
    z-index: -1;
}

.back {
    composes: backButton from "../../style/buttons.module.css";
}

.button_container {
    display: flex;
    justify-content: center;
}

.confirm {
    composes: buttonBlack from "../../style/buttons.module.css";
}

.title {
    composes: title from "../../style/typo.module.css";
    text-align: center;
    margin-bottom: 1rem;
}   

.title_span {
    composes: titleSpan from "../../style/typo.module.css";
}

.subtitle {
    composes: subtitle from "../../style/typo.module.css";
    text-align: center;
}   

.content_images {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width: 500px) {

    .content_header {
        margin: 1rem 0 4rem 0;
    }

    .subtitle {
        margin-top: 1.5rem;
    }  

    .content_images {
        flex-direction: column;
    }
  
  }
