.form_header {
    grid-area: progressbar;
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    align-items: center;
}

.form_input {
    grid-area: form;
    height: 100%;
    padding: 2rem 0;
}