.form_header {
    grid-area: progressbar;
    display: grid;
    grid-template-columns: auto 40% auto;
    align-items: center;
    padding-top: 5rem;
}

.form_input {
    grid-area: form;
    height: 100%;
}