@value tokens: "../../style/tokens.module.css";
@value primaryColor, backgroundColor from tokens;

.progressbar {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
}

.progressbar[value]::-webkit-progress-bar {
    background-color: backgroundColor;
    border: .3rem solid primaryColor;
    border-radius: 2rem;
    height: 2rem;
}

progress[value]::-webkit-progress-value {
    background-color: primaryColor;
  }