@value tokens: "./tokens.module.css";
@value backgroundColor, primaryColor, blackColor from tokens;

.inputFill {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white ;
  border: none;
  border-radius: 1rem;
}

.buttonBlack {
  background-image: url(/assets/buttons/button_full.svg);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  padding: 1.5rem 1.5rem;
  background-position: 50% 50%;
  composes: button from "../style/typo.module.css";
}

.backButton {
  color: primaryColor; 
  display: inline-block;
}
