@value tokens: "./tokens.module.css";
@value backgroundColor, primaryColor, blackColor, pinkColor from tokens;

.inputFill {
  padding: 1.2rem 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white ;
  border: none;
  border-radius: 1rem;
  display: inline-block;
}

.buttonBlack {
  background-image: url(/assets/buttons/button_full.svg);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 100% 100%;
  padding: 1.5rem 3rem;
  background-position: 50% 50%;
  composes: button from "../style/typo.module.css";
  overflow: visible;
  cursor: pointer;
  transition: all .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonBlack::after{
  content: ">";
  transform: translateX(4rem);
  display: inline-block;
  transition: transform 0.3s;
  opacity: 0;
}

.buttonBlack:hover{
  background-image: url(/assets/buttons/button_full_black.svg);
}

.buttonBlack:hover::after{
  transform: translateX(1rem);
  opacity: 1;
}

.backButton {
  color: primaryColor; 
  display: inline-block;
  background-image: url(/assets/buttons/button_outline.svg);
  background-color: transparent;
  border: none;
  padding: 1rem 1.5rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
  margin-left: 5rem;
  cursor: pointer;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 1rem;
  outline: none;
  border-radius: 0.5rem;
  background-color: pinkColor; 
}

@media screen and (max-width: 1050px) {

  .backButton {
    margin: 0;
} 
}

@media screen and (max-width: 500px) {

  .backButton {
    color: primaryColor; 
    display: inline-block;
    background-image: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: 0;
}

.buttonBlack {
  background-image: url(/assets/buttons/button_full.svg);
  padding: 1.5rem 3rem;
  margin: 5rem 0 3rem 0;

}

}