@value tokens: "./tokens.module.css";
@value blackColor, backgroundColor from tokens;

.title {
  font-family: bely-display, serif;
  color: blackColor;
  text-decoration: none;
  font-size: 2.5rem;
}

.subtitle {
  font-family: montserrat, sans-serif;
  color: blackColor;
  text-decoration: none;
  font-size: 1.5rem;
}

.text {
  font-family: montserrat-medium, sans-serif;
  font-size: 1.5rem;
  color: blackColor;
}

.bold {
  font-family: montserrat-bold, sans-serif;
  font-size: 1.7rem;
  color: blackColor;
}

.button {
  font-family: montserrat-medium, sans-serif;
  font-size: 1.6rem;
  color: backgroundColor;
}