@value tokens: "./tokens.module.css";
@value blackColor, backgroundColor from tokens;

.title {
  font-family: bely-display, serif;
  color: blackColor;
  text-decoration: none;
  font-size: 2.5rem;
}

.titleSpan {
  background-image: url(/assets/backgrounds/span_background.svg);
  padding: .2rem 0;
  background-size: 100% 45%;
  background-position: bottom ;
  background-repeat: no-repeat;
}

.subtitle {
  font-family: montserrat, sans-serif;
  font-weight: 500;
  color: blackColor;
  text-decoration: none;
  font-size: 1.5rem;
}

.text {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: blackColor;
}

.textLight {
  font-family: montserrat-light, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: blackColor;
}

.bold {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  color: blackColor;
}

.italic {
  font-family: montserrat, sans-serif;
  font-style: italic;
  font-size: 1.3rem;
  color: blackColor;
}

.button {
  font-family: montserrat-medium, sans-serif;
  font-size: 1.6rem;
  color: backgroundColor;
}

@media screen and (max-width: 500px) {

  .title {
    font-size: 2.2rem;
  }

}