.option {
    width: 100%;
}

.option_label {
    cursor: pointer;
}

.option_video {
    width: 100%;
    height: auto;
}

.option_text {
    composes: subtitle from "../../style/typo.module.css";
    text-align: center;
    margin-top: 2rem;
    cursor: pointer;
}

.checkbox_type{
    display: none;
}

.checkbox_type[type='radio']:checked+.option_text {
    composes: bold from "../../style/typo.module.css";
}

@media screen and (max-width: 500px) {

    .option {
        margin-bottom: 2rem;
    }

    .option_text {
        margin: 0;
    }

    .option_video {
        padding: 0 5rem;
    }

    .type_option {
        margin: 2rem 0;
    }
  
  }

  @media screen and (max-width: 380px) {


    .option_video {
        padding: 0 3rem;
    }
  
  }