@value tokens: "../../style/tokens.module.css";
@value primaryColor, pinkColor from tokens;

.content {
    composes: view from "../../style/layout.module.css";
    composes: spaceBetween from "../../style/layout.module.css";
}

.button_container {
    display: flex;
    justify-content: center;
}

.confirm {
    composes: buttonBlack from "../../style/buttons.module.css";
}

.title {
    composes: title from "../../style/typo.module.css";
    text-align: center;
    margin-bottom: 1rem;
}   

.title_span {
    composes: titleSpan from "../../style/typo.module.css";
}

.subtitle {
    composes: subtitle from "../../style/typo.module.css";
    text-align: center;
}   

.content_media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_slider {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.slider_placeholder {
    display: flex;
    justify-content: space-between;
    composes: subtitle from "../../style/typo.module.css";
    padding-bottom: 1rem;
}

.count_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_count {
    margin-top: 2rem;
    composes: bold from "../../style/typo.module.css";
}

.slider {
    composes: slider from "../../style/buttons.module.css";
}
    
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: primaryColor;
  border: 1.2rem solid primaryColor;
  border-radius: 2rem;
  cursor: pointer;
}