.option {
    width: 100%;
}

.option_label {
    cursor: pointer;
}

.option_video {
    width: 100%;
    height: auto;
}

.option_text {
    composes: subtitle from "../../style/typo.module.css";
    text-align: center;
    margin-top: 2rem;
}

.checkbox_country{
    display: none;
    cursor: pointer;
}

.checkbox_country[type='radio']:checked+.option_text {
    font-family: montserrat-bold;
}

.checkbox_country[type='radio']:checked+.option_video {
    opacity: 1;
}

@media screen and (max-width: 500px) {

    .option {
        margin-bottom: 2rem;
    }

    .option_text {
        margin: 0;
    }

    .option_video {
        padding: 0 5rem;
    }

    .country_option {
        margin: 2rem 0;
    }
  
  }

  @media screen and (max-width: 380px) {

    .option {
        margin-bottom: 2rem;
    }

    .option_text {
        margin: 0;
    }

    .option_video {
        padding: 0 3rem;
    }

    .country_option {
        margin: 2rem 0;
    }
  
  }