@value tokens: "../../style/tokens.module.css";
@value primaryColor from tokens;

.content {
    composes: view from "../../style/layout.module.css";
    composes: spaceBetween from "../../style/layout.module.css";
}

.back {
    composes: backButton from "../../style/buttons.module.css";
}

.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm {
    composes: buttonBlack from "../../style/buttons.module.css";
}

.title {
    composes: title from "../../style/typo.module.css";
    text-align: center;
    margin-bottom: 1rem;
}   

.title_span {
    composes: titleSpan from "../../style/typo.module.css";
}

.subtitle {
    composes: subtitle from "../../style/typo.module.css";
    text-align: center;
}   

.form {
    display: grid;
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.form_item {
    display: flex;
    flex-direction: column;
}

.item_title {
    composes: text from "../../style/typo.module.css";
    padding-bottom: 1rem;
}

.title_terms{
    composes: italic from "../../style/typo.module.css";
    padding-bottom: 0;
}

.form_input {
    composes: inputFill from "../../style/buttons.module.css";
}

.form_firstname {
    grid-column: 1/4;
}

.form_lastname {
    grid-column: 4/7;
}

.form_city {
    grid-column: 1/5;
}

.form_postcode {
    grid-column: 5/7;
}

.form_adres {
    grid-column: 1/5;
}

.form_huisnummer {
    grid-column: 5/6;
}

.form_busnummer {
    grid-column: 6/7;
}

.form_email {
    grid-column: 1/7;
}

.form_telephone {
    grid-column: 1/7;
}

.form_terms {
    grid-column: 1/7;
    flex-direction: row;
    align-items: center;
}


@media screen and (max-width: 550px) {

    .content_header {
        margin: 1rem 0 4rem 0;
    }

    .subtitle {
        margin-top: 1.5rem;
    }  

    .form {
        grid-column-gap: 1.5rem;
        grid-row-gap: 2rem;
    }

    .form_firstname {
        grid-column: 1/7;
    }
    
    .form_lastname {
        grid-column: 1/7;
    }
    
    .form_city {
        grid-column: 1/5;
    }
    
    .form_postcode {
        grid-column: 5/7;
    }
    
    .form_adres {
        grid-column: 1/7;
    }
    
    .form_huisnummer {
        grid-column: 1/4;
    }
    
    .form_busnummer {
        grid-column: 4/7;
    }
    
    .form_email {
        grid-column: 1/7;
    }
    
    .form_telephone {
        grid-column: 1/7;
    }
    
    .form_terms {
        grid-column: 1/7;
        flex-direction: row;
        align-items: center;
    }
}