@value tokens: "../../style/tokens.module.css";
@value primaryColor, backgroundColor from tokens;

.login_header {
    display: flex;
    align-items: center;
}

.content {
    composes: view from "../../style/layout.module.css";
}

.content_header {
    margin-bottom: 10rem;
}

.title {
    composes: title from "../../style/typo.module.css";
    text-align: center;
    margin-bottom: 1rem;
}  

.title_span {
    composes: titleSpan from "../../style/typo.module.css";
}

.subtitle {
    composes: subtitle from "../../style/typo.module.css";
    text-align: center;
}  

.back {
    composes: backButton from "../../style/buttons.module.css";
}

.button_container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.form_input {
    composes: inputFill from "../../style/buttons.module.css";
    width: 100%;
    margin: .5rem 0;
}

.input_container {
    composes: text from "../../style/typo.module.css";
    padding: .5rem 0;
    width: 70%;
    margin: 0 auto;
}

.form_button {
    composes: buttonBlack from "../../style/buttons.module.css";
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.form_option {
    composes: bold from "../../style/typo.module.css";
    text-align: center;
    margin: 5rem 0;
}

.container_google {
    display: flex;
    justify-content: center;
}

.button_google {
    background-image: url(/assets/buttons/button_red.svg);
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 100% 100%;
    padding: 1.5rem 3rem;
    background-position: 50% 50%;
    composes: button from "../../style/typo.module.css";
    overflow: visible;
    cursor: pointer;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_register {
    composes: italic from "../../style/typo.module.css";
    text-align: center;
    text-decoration: none;
}

.register_bold {
    font-weight: 700;
}

@media screen and (max-width: 1050px) {

    .back {
        margin-left: 3rem;  
    }
}

@media screen and (max-width: 700px) {

    .input_container {
        width: 100%;
    }
}
