@value tokens: "../../style/tokens.module.css";
@value primaryColor, backgroundColor from tokens;

.content {
    composes: view from "../../style/layout.module.css";
    composes: spaceBetween from "../../style/layout.module.css";
}

.title {
    composes: title from "../../style/typo.module.css";
    text-align: center;
    margin-bottom: 1rem;
}  

.title_span {
    composes: titleSpan from "../../style/typo.module.css";
}

.subtitle {
    composes: subtitle from "../../style/typo.module.css";
    text-align: center;
}  

.back {
    composes: backButton from "../../style/buttons.module.css";
}

.button_container {
    display: flex;
    justify-content: center;
}

.form_input {
    composes: inputFill from "../../style/buttons.module.css";
    width: 100%;
    margin: .5rem 0;
}

.form_button {
    composes: buttonBlack from "../../style/buttons.module.css";
}

.form_option {
    composes: bold from "../../style/typo.module.css";
}

.button_google {
    background-image: url(/assets/buttons/button_red.svg);
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 100% 100%;
    padding: 1.5rem 3rem;
    background-position: 50% 50%;
    composes: button from "../../style/typo.module.css";
    overflow: visible;
    cursor: pointer;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_register {
    composes: italic from "../../style/typo.module.css";
    text-align: center;
}

.register_bold {
    composes: bold from "../../style/typo.module.css";
}
