@import './reset.css';


html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  background-color: rgb(231, 230, 225);
}


.form0, .form1, .form2, .form3, .form4, .form5, .form6, .form7 {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 80% 1fr;
  grid-template-areas:
  "progressbar"
  "form"
  ".";
}

.form0 {
  background-image: url(/assets/backgrounds/step1_right.png), url(/assets/backgrounds/step1_left_top.png), url(/assets/backgrounds/step1_left_bottom.png);
  background-repeat: no-repeat;
  background-size: auto 100%, auto auto, auto auto;
  background-position: right, top left, left bottom;
}

.form1 {
  background-image: url(/assets/backgrounds/step2_right.png), url(/assets/backgrounds/step2_bottom.png), url(/assets/backgrounds/step2_left.png);
  background-repeat: no-repeat;
  background-size: auto 100%, 100% auto, auto auto;
  background-position: right, bottom, left;
}

.form2 {
  background-image: url(/assets/backgrounds/step3_left.png), url(/assets/backgrounds/step3_right_top.png), url(/assets/backgrounds/step3_right_bottom.png);
  background-repeat: no-repeat;
  background-size: auto 100%, auto auto, auto auto;
  background-position: left, right top, right bottom;
}

.form3 {
  background-image: url(/assets/backgrounds/step4_left.png), url(/assets/backgrounds/step4_right_top.png), url(/assets/backgrounds/step4_right_bottom.png);
  background-repeat: no-repeat;
  background-size: auto 100%, auto auto, auto auto;
  background-position: left, right top, right bottom;
}

.form4 {
  background-image: url(/assets/backgrounds/step5_left.png), url(/assets/backgrounds/step5_right_bottom.png);
  background-repeat: no-repeat;
  background-size: auto 100%, auto auto;
  background-position: left, right bottom;
}

.form5 {
  background-image: url(/assets/backgrounds/step6_left.png), url(/assets/backgrounds/step6_bottom.png), url(/assets/backgrounds/step6_right.png);
  background-repeat: no-repeat;
  background-size: auto 100%, 100% auto, auto 100%;
  background-position: left, bottom, right;
}

.form6 {
  background-image: url(/assets/backgrounds/step7_left.png), url(/assets/backgrounds/step7_right.png);
  background-repeat: no-repeat;
  background-size: auto 100%, auto 100%;
  background-position: left, right bottom;
}

.form7 {
  background-image: url(/assets/backgrounds/step8_left.png), url(/assets/backgrounds/step8_right.png);
  background-repeat: no-repeat;
  background-size: auto 100%, auto 100%;
  background-position: left, right;
}

@media screen and (max-width: 1500px) {
  .form0, .form1, .form2, .form3, .form4, .form5, .form6, .form7 {
    background-image: none;
  }
}

@media screen and (max-width: 500px) {

  .form0, .form1, .form2, .form3, .form4, .form5, .form6, .form7 {
    height: auto;
    background-image: none;
    display: flex;
    flex-direction: column;
  }


}