@import './reset.css';


html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */

.webp body {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  background-color: rgb(231, 230, 225);
}

.no-webp body {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  background-color: rgb(235, 233, 229);
}

.form0, .form1, .form2, .form3, .form4, .form5, .form6, .form7 {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 80% 1fr;
  grid-template-areas:
  "progressbar"
  "form"
  ".";
}

.webp .form0 {
  background-image: url(/assets/backgrounds/desktop_step1_right.webp), url(/assets/backgrounds/desktop_step1_left_top.webp), url(/assets/backgrounds/desktop_step1_left_bottom.webp);
  background-repeat: no-repeat;
  background-size: auto 100%, auto auto, auto auto;
  background-position: right, top left, left bottom;
}

.no-webp .form0 {
  background-image: url(/assets/backgrounds/desktop_step1_right.png), url(/assets/backgrounds/desktop_step1_left_top.png), url(/assets/backgrounds/desktop_step1_left_bottom.png);
  background-repeat: no-repeat;
  background-size: auto 100%, auto auto, auto auto;
  background-position: right, top left, left bottom;
}

.webp .form1 {
  background-image: url(/assets/backgrounds/desktop_step2_right.webp), url(/assets/backgrounds/desktop_step2_bottom.webp), url(/assets/backgrounds/desktop_step2_left.webp);
  background-repeat: no-repeat;
  background-size: auto 100%, 100% auto, auto auto;
  background-position: right, bottom, left;
}

.no-webp .form1 {
  background-image: url(/assets/backgrounds/desktop_step2_right.png), url(/assets/backgrounds/desktop_step2_bottom.png), url(/assets/backgrounds/desktop_step2_left.png);
  background-repeat: no-repeat;
  background-size: auto 100%, 100% auto, auto auto;
  background-position: right, bottom, left;
}

.webp .form2 {
  background-image: url(/assets/backgrounds/desktop_step3_left.webp), url(/assets/backgrounds/desktop_step3_right_top.webp), url(/assets/backgrounds/desktop_step3_right_bottom.webp);
  background-repeat: no-repeat;
  background-size: auto 100%, auto auto, auto auto;
  background-position: left, right top, right bottom;
}

.no-webp .form2 {
  background-image: url(/assets/backgrounds/desktop_step3_left.png), url(/assets/backgrounds/desktop_step3_right_top.png), url(/assets/backgrounds/desktop_step3_right_bottom.png);
  background-repeat: no-repeat;
  background-size: auto 100%, auto auto, auto auto;
  background-position: left, right top, right bottom;
}

.webp .form3 {
  background-image: url(/assets/backgrounds/desktop_step4_left.webp), url(/assets/backgrounds/desktop_step4_right_top.webp), url(/assets/backgrounds/desktop_step4_right_bottom.webp);
  background-repeat: no-repeat;
  background-size: auto 100%, auto auto, auto auto;
  background-position: left, right top, right bottom;
}

.no-webp .form3 {
  background-image: url(/assets/backgrounds/desktop_step4_left.png), url(/assets/backgrounds/desktop_step4_right_top.png), url(/assets/backgrounds/desktop_step4_right_bottom.png);
  background-repeat: no-repeat;
  background-size: auto 100%, auto auto, auto auto;
  background-position: left, right top, right bottom;
}

.webp .form4 {
  background-image: url(/assets/backgrounds/desktop_step5_left.webp), url(/assets/backgrounds/desktop_step5_botom_right.webp);
  background-repeat: no-repeat;
  background-size: auto 100%, auto auto;
  background-position: left, right bottom;
}

.no-webp .form4 {
  background-image: url(/assets/backgrounds/desktop_step5_left.png), url(/assets/backgrounds/desktop_step5_botom_right.png);
  background-repeat: no-repeat;
  background-size: auto 100%, auto auto;
  background-position: left, right bottom;
}

.webp .form5 {
  background-image: url(/assets/backgrounds/desktop_step6_left.webp), url(/assets/backgrounds/desktop_step6_bottom.webp), url(/assets/backgrounds/desktop_step6_right.webp);
  background-repeat: no-repeat;
  background-size: auto 100%, 100% auto, auto 100%;
  background-position: left, bottom, right;
}

.no-webp .form5 {
  background-image: url(/assets/backgrounds/desktop_step6_left.png), url(/assets/backgrounds/desktop_step6_bottom.png), url(/assets/backgrounds/desktop_step6_right.png);
  background-repeat: no-repeat;
  background-size: auto 100%, 100% auto, auto 100%;
  background-position: left, bottom, right;
}

.webp .form6 {
  background-image: url(/assets/backgrounds/desktop_step7_left.webp), url(/assets/backgrounds/desktop_step7_right.webp);
  background-repeat: no-repeat;
  background-size: auto 100%, auto 100%;
  background-position: left, right bottom;
}

.no-webp .form6 {
  background-image: url(/assets/backgrounds/desktop_step7_left.png), url(/assets/backgrounds/desktop_step7_right.png);
  background-repeat: no-repeat;
  background-size: auto 100%, auto 100%;
  background-position: left, right bottom;
}

.webp .form7 {
  background-image: url(/assets/backgrounds/desktop_step8_left.webp), url(/assets/backgrounds/desktop_step8_right.webp);
  background-repeat: no-repeat;
  background-size: auto 100%, auto 100%;
  background-position: left, right;
}

.no-webp .form7 {
  background-image: url(/assets/backgrounds/desktop_step8_left.png), url(/assets/backgrounds/desktop_step8_right.png);
  background-repeat: no-repeat;
  background-size: auto 100%, auto 100%;
  background-position: left, right;
}

.webp .background {
  background-image: url(/assets/backgrounds/desktop_splash_left.webp),url(/assets/backgrounds/desktop_splash_background.webp);
  background-repeat: no-repeat;
  background-size: 65% 100%, cover;
  background-position: left, 50% 50%;
  height: 100% !important;
}

.no-webp .background {
  background-image: url(/assets/backgrounds/desktop_splash_left.png),url(/assets/backgrounds/desktop_splash_background.png);
  background-repeat: no-repeat;
  background-size: 65% 100%, cover;
  background-position: left, 50% 50%;
  height: 100% !important;
}

.webp .background_elements {
  background-image: url(/assets/backgrounds/desktop_splash_left_top.webp),url(/assets/backgrounds/desktop_splash_bottom.webp), url(/assets/backgrounds/desktop_splash_right.webp);
  background-repeat: no-repeat;
  background-size: auto auto, 100% auto, auto 100%;
  background-position: top left,bottom, right;
  height: 100% !important;
}

.no-webp .background_elements {
  background-image: url(/assets/backgrounds/desktop_splash_left_top.png),url(/assets/backgrounds/desktop_splash_bottom.png), url(/assets/backgrounds/desktop_splash_right.png);
  background-repeat: no-repeat;
  background-size: auto auto, 100% auto, auto 100%;
  background-position: top left,bottom, right;
  height: 100% !important;
}

.webp .login {
  display: grid;
  grid-template-rows: 1fr 80% 1fr;
  grid-template-areas:
  "progressbar"
  "form"
  ".";
  height: 100vh;
  background-image: url(/assets/backgrounds/desktop_step4_left.webp), url(/assets/backgrounds/desktop_step4_right_top.webp), url(/assets/backgrounds/desktop_step4_right_bottom.webp);
  background-repeat: no-repeat;
  background-size: auto 100%, auto auto, auto auto;
  background-position: left, right top, right bottom;
}

.no-webp .login {
  display: grid;
  grid-template-rows: 1fr 80% 1fr;
  grid-template-areas:
  "progressbar"
  "form"
  ".";
  height: 100vh;
  background-image: url(/assets/backgrounds/desktop_step4_left.png), url(/assets/backgrounds/desktop_step4_right_top.png), url(/assets/backgrounds/desktop_step4_right_bottom.png);
  background-repeat: no-repeat;
  background-size: auto 100%, auto auto, auto auto;
  background-position: left, right top, right bottom;
}

.webp .about {
  background-image: url(/assets/backgrounds/desktop_about_location.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
  height: 100% !important;
}

.no-webp .about {
  background-image: url(/assets/backgrounds/desktop_about_location.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
  height: 100% !important;
}

.webp .background_about {
  background-image: url(/assets/backgrounds/desktop_about_left.webp), url(/assets/backgrounds/desktop_about_wedding.webp);
  background-repeat: no-repeat;
  background-size: auto 100%, 30% auto;
  background-position: left, right 55%;
  height: 100% !important;
}

.no-webp .background_about {
  background-image: url(/assets/backgrounds/desktop_about_left.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left;
  height: 100% !important;
}

.webp .booking {
  display: grid;
  grid-template-rows: 1fr 80% 1fr;
  grid-template-areas:
  "progressbar"
  "form"
  ".";
  height: 100vh;
  background-image: url(/assets/backgrounds/desktop_step1_right.webp), url(/assets/backgrounds/desktop_step1_left_top.webp), url(/assets/backgrounds/desktop_step1_left_bottom.webp);
  background-repeat: no-repeat;
  background-size: auto 100%, auto auto, auto auto;
  background-position: right, top left, left bottom;
}

.no-webp .booking {
  display: grid;
  grid-template-rows: 1fr 80% 1fr;
  grid-template-areas:
  "progressbar"
  "form"
  ".";
  height: 100vh;
  background-image: url(/assets/backgrounds/desktop_step1_right.png), url(/assets/backgrounds/desktop_step1_left_top.png), url(/assets/backgrounds/desktop_step1_left_bottom.png);
  background-repeat: no-repeat;
  background-size: auto 100%, auto auto, auto auto;
  background-position: right, top left, left bottom;
}

.webp .registratie {
  display: grid;
  grid-template-rows: 1fr 80% 1fr;
  grid-template-areas:
  "progressbar"
  "form"
  ".";
  height: 100vh;
  background-image: url(/assets/backgrounds/desktop_step4_left.webp), url(/assets/backgrounds/desktop_step4_right_top.webp), url(/assets/backgrounds/desktop_step4_right_bottom.webp);
  background-repeat: no-repeat;
  background-size: auto 100%, auto auto, auto auto;
  background-position: left, right top, right bottom;
}

.no-webp .registratie {
  display: grid;
  grid-template-rows: 1fr 80% 1fr;
  grid-template-areas:
  "progressbar"
  "form"
  ".";
  height: 100vh;
  background-image: url(/assets/backgrounds/desktop_step4_left.png), url(/assets/backgrounds/desktop_step4_right_top.png), url(/assets/backgrounds/desktop_step4_right_bottom.png);
  background-repeat: no-repeat;
  background-size: auto 100%, auto auto, auto auto;
  background-position: left, right top, right bottom;
}

@media screen and (max-width: 1500px) {
  .webp .form0 {
    background-image: url(/assets/backgrounds/tablet_step1_right.webp), url(/assets/backgrounds/tablet_step1_left_top.webp), url(/assets/backgrounds/tablet_step1_left_bottom.webp);
  }

  .no-webp .form0 {
    background-image: url(/assets/backgrounds/tablet_step1_right.png), url(/assets/backgrounds/tablet_step1_left_top.png), url(/assets/backgrounds/tablet_step1_left_bottom.png);
  }

  .webp .form1 {
    background-image: url(/assets/backgrounds/tablet_step2_right.webp), url(/assets/backgrounds/tablet_step2_bottom.webp), url(/assets/backgrounds/tablet_step2_left.webp);
  }

  .no-webp .form1 {
    background-image: url(/assets/backgrounds/tablet_step2_right.png), url(/assets/backgrounds/tablet_step2_bottom.png), url(/assets/backgrounds/tablet_step2_left.png);
  }

  .webp .form2 {
    background-image: url(/assets/backgrounds/tablet_step3_left.webp), url(/assets/backgrounds/tablet_step3_right_top.webp), url(/assets/backgrounds/tablet_step3_right_bottom.webp);
  }

  .no-webp .form2 {
    background-image: url(/assets/backgrounds/tablet_step3_left.png), url(/assets/backgrounds/tablet_step3_right_top.png), url(/assets/backgrounds/tablet_step3_right_bottom.png);
  }

  .webp .form3 {
    background-image: url(/assets/backgrounds/tablet_step4_left.webp), url(/assets/backgrounds/tablet_step4_right_top.webp), url(/assets/backgrounds/tablet_step4_right_bottom.webp);
  }

  .no-webp .form3 {
    background-image: url(/assets/backgrounds/tablet_step4_left.png), url(/assets/backgrounds/tablet_step4_right_top.png), url(/assets/backgrounds/tablet_step4_right_bottom.png);
  }

  .webp .form4 {
    background-image: url(/assets/backgrounds/tablet_step5_left.webp), url(/assets/backgrounds/tablet_step5_botom_right.webp);
  }

  .no-webp .form4 {
    background-image: url(/assets/backgrounds/tablet_step5_left.png), url(/assets/backgrounds/tablet_step5_botom_right.png);
  }

  .webp .form5{
    background-image: url(/assets/backgrounds/tablet_step6_left.webp), url(/assets/backgrounds/tablet_step6_bottom.webp), url(/assets/backgrounds/tablet_step6_right.webp);
  }

  .no-webp .form5{
    background-image: url(/assets/backgrounds/tablet_step6_left.png), url(/assets/backgrounds/tablet_step6_bottom.png), url(/assets/backgrounds/tablet_step6_right.png);
  }

  .webp .form6 {
    background-image: url(/assets/backgrounds/tablet_step7_left.webp), url(/assets/backgrounds/tablet_step7_right.webp);
  }

  .no-webp .form6 {
    background-image: url(/assets/backgrounds/tablet_step7_left.png), url(/assets/backgrounds/tablet_step7_right.png);
  }

  .webp .form7 {
    background-image: url(/assets/backgrounds/tablet_step8_left.webp), url(/assets/backgrounds/tablet_step8_right.webp);
  }

  .no-webp .form7 {
    background-image: url(/assets/backgrounds/tablet_step8_left.png), url(/assets/backgrounds/tablet_step8_right.png);
  }

  .webp .login {
    background-image: url(/assets/backgrounds/tablet_step4_left.webp), url(/assets/backgrounds/tablet_step4_right_top.webp), url(/assets/backgrounds/tablet_step4_right_bottom.webp);
  }
  .no-webp .login {
    background-image: url(/assets/backgrounds/tablet_step4_left.png), url(/assets/backgrounds/tablet_step4_right_top.png), url(/assets/backgrounds/tablet_step4_right_bottom.png);
  }

  .webp .booking {
    background-image: url(/assets/backgrounds/tablet_step1_right.webp), url(/assets/backgrounds/tablet_step1_left_top.webp), url(/assets/backgrounds/tablet_step1_left_bottom.webp);
  }

  .no-webp .booking {
    background-image: url(/assets/backgrounds/tablet_step1_right.png), url(/assets/backgrounds/tablet_step1_left_top.png), url(/assets/backgrounds/tablet_step1_left_bottom.png);
  }

  .webp .registratie {
    background-image: url(/assets/backgrounds/tablet_step4_left.webp), url(/assets/backgrounds/tablet_step4_right_top.webp), url(/assets/backgrounds/tablet_step4_right_bottom.webp);
  }

  .no-webp .registratie {
    background-image: url(/assets/backgrounds/tablet_step4_left.png), url(/assets/backgrounds/tablet_step4_right_top.png), url(/assets/backgrounds/tablet_step4_right_bottom.png);
  }


}

@media screen and (max-width: 1250px) {
  .header_info {
      width:100%;
      padding: 0 3rem;
  }

 .webp .background {
      background-image: url(/assets/backgrounds/desktop_splash_left.webp),url(/assets/backgrounds/desktop_splash_background.webp);
      background-size: 75% 100%, cover;
  }

  .no-webp .background {
    background-image: url(/assets/backgrounds/desktop_splash_left.png),url(/assets/backgrounds/desktop_splash_background.png);
    background-size: 75% 100%, cover;
}

 .webp .background_elements {
      background-image: url(/assets/backgrounds/tablet_splash_left_top.webp),url(/assets/backgrounds/tablet_splash_bottom.webp), url(/assets/backgrounds/tablet_splash_right.webp);
  }

  .no-webp .background_elements {
    background-image: url(/assets/backgrounds/tablet_splash_left_top.png),url(/assets/backgrounds/tablet_splash_bottom.png), url(/assets/backgrounds/tablet_splash_right.png);
}

 .webp .background_about {
    background-image: url(/assets/backgrounds/tablet_about_left.webp), url(/assets/backgrounds/desktop_about_wedding.webp);
    background-position: left, right 75%;
    background-size: auto 100%, 40% auto;
}

  .no-webp .background_about {
    background-image: url(/assets/backgrounds/tablet_about_left.png), url(/assets/backgrounds/desktop_about_wedding.png);
    background-position: left, right 75%;
    background-size: auto 100%, 40% auto;
}

.webp .about {
  background-image: url(/assets/backgrounds/desktop_about_location.webp);
  background-size: 100% auto;
}

.no-webp .about {
  background-image: url(/assets/backgrounds/desktop_about_location.png);
  background-size: 100% auto;
}

}

@media screen and (max-width: 750px) {

  .webp .background {
      background-image: url(/assets/backgrounds/mobile_splash_left.webp),url(/assets/backgrounds/desktop_splash_background.webp);
      background-size: 100% 100%, cover;
      background-position: bottom, 50% 50%;
  }

  .no-webp .background {
    background-image: url(/assets/backgrounds/mobile_splash_left.png),url(/assets/backgrounds/desktop_splash_background.png);
    background-size: 100% 100%, cover;
    background-position: bottom, 50% 50%;
}

  .webp .background_elements {
      background-image: url(/assets/backgrounds/mobile_splash_left_top.webp),url(/assets/backgrounds/mobile_splash_bottom.webp), url(/assets/backgrounds/mobile_splash_right.webp);
      background-size: 40% auto, 100% auto, 50% 100%;
      background-position: top left,bottom, right;
  }

  .no-webp .background_elements {
    background-image: url(/assets/backgrounds/mobile_splash_left_top.png),url(/assets/backgrounds/mobile_splash_bottom.png), url(/assets/backgrounds/mobile_splash_right.png);
    background-size: 40% auto, 100% auto, 50% 100%;
    background-position: top left,bottom, right;
}

   .webp .background_about {
      background-image: none;
  }

  .no-webp .background_about {
    background-image: none;
  }

}

@media screen and (max-width: 700px) {

  .webp .form0, .webp .form1, .webp .form2, .webp .form3, .webp .form4, .webp .form5, .webp .form6, .webp .form7 {
    background-image: none;
  }

  .no-webp .form0, .no-webp .form1, .no-webp .form2, .no-webp .form3, .no-webp .form4, .no-webp .form5, .no-webp .form6, .no-webp .form7 {
    background-image: none;
  }

  .webp .login {
    background-image: none;
  }

  .no-webp .login {
    background-image: none;
  }

  .webp .booking {
    background-image:none;
  }

  .no-webp .booking {
    background-image:none;
  }

  .webp .registratie {
    background-image: none;
  }

  .no-webp .registratie {
    background-image: none;
  }


}

@media screen and (max-width: 500px) {

  .webp .form0, .form1, .form2, .form3, .form4, .form5, .form6, .form7 {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .no-webp .form0, .form1, .form2, .form3, .form4, .form5, .form6, .form7 {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .webp .booking{
    height: auto;
    background-image: none;
    display: flex;
    flex-direction: column;
  }

  .no-webp .booking{
    height: auto;
    background-image: none;
    display: flex;
    flex-direction: column;
  }

  .webp .login{
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .no-webp .login{
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .webp .registratie{
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .no-webp .registratie{
    height: auto;
    display: flex;
    flex-direction: column;
  }

}
